body {
  margin: 0;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  font-family: "Cormorant Infant", serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/media/bologna.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px;
}

header h3 {
  font-size: 30px;
  margin: 0;
}
header h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 96px;
  margin: 30px 0;
  line-height: 1;
}
header h2 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}
.header-link {
  font-size: 20px;
  color: rgb(79, 75, 75);
  text-decoration: none;
  display: inline-block;
  margin-top: 32px;
  padding: 16px 32px;
  background-color: white;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/media/bologna-towers.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  opacity: 0.6;
}
footer a {
  color: white;
}
footer p {
  opacity: 0.6;
}
footer h3 {
  font-family: "Tenor Sans", sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding-top: 50px;
}
.coder {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 50px 0 0;
  opacity: 1;
}

@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 15px;
  }
}
